<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Angular JS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body ng-app="mainApp" ng-controller="nameController">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="text-center">Know your Student</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">

          <form class="" action="index.html" method="post">
            <div class="form-group">
              <label for="firstName">First Name</label>
              <input type="text" class="form-control" id="firstName" ng-model="firstName">
            </div>
            <div class="form-group">
              <label for="lastName">Last Name</label>
              <input type="text" class="form-control" id="lastName" ng-model="lastName">
            </div>
            <div class="form-group">
              <label for="fees">Student Fees</label>
              <input type="text" id="fees" class="form-control" ng-model="fees">
            </div>
            <div class="form-group">
                <label for="continent">Continent</label>
                <select id="continent" ng-model="continent" class="form-control">/
                    <option ng-repeat=" continent in continents  | orderBy: continent " value="{{ continent }}">{{ continent }}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="country">Country</label>
                <select name="country" id="country" ng-model="country" class="form-control">
                    <option ng-repeat="country_s in countries | filter: continent" value="{{ country_s.name }}">{{country_s.code }}</option>
                </select></div>
          </form>
        </div>
        <div class="col-xs-6">
          <h3 class="text-center">{{ (firstName | uppercase) + ' ' +  (lastName | uppercase) }}</h3>
          <h5 class="text-center"> Fee Due: {{ fees | currency }}</h5>
          <h4 class="text-center">{{ country }}</h4>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript">
    var app = angular.module('mainApp',[]);
    app.controller('nameController',function($scope) {
      $scope.firstName = 'John';
      $scope.lastName = 'Doe';
      $scope.fees = '0';
        $scope.country = 'None';
        $scope.continents=['Asia','Australia','Europe','America','Africa'];
        $scope.countries = [{name:'India', code: 'IN',continent:'Asia'},
                            {name:'United States',code:'US',continent:'America'},
                            {name:'United Kingdom',code:'UK',continent:'Europe'},
                            {name:'Belgium',code:'BG',continent:'Europe'}];
    });
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" charset="utf-8"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" charset="utf-8"></script>
</html>
